/* .calendar__all {
   width: 600px;
   height: 500px;
   border: 3px solid rgb(28, 59, 128);
   border-radius: 50px;
   margin: 50px auto;
   box-shadow: 0 0 30px rgba(28,59,128,0.5);
   background-color: rgb(28, 59, 128,0.1);

}
.calendar__title {
   text-align: center;
   color: rgb(28, 59, 128);
   font-size: 35px;
   margin: 10px 0;
}
.calendar__h2 {
   text-align: center;
   color: rgb(28, 59, 128);
   font-size: 25px;
   margin: 5px 0 10px;
   width: 180px;
}
table {
   margin: 0 auto;
   border-collapse: collapse;
}
th, td {
   width: 50px;
   height: 50px;
   border: 2px solid rgb(28, 59, 128);
   font-size: 22px;
   text-align: center;
}
th {background-color: rgb(28, 59, 128,0.15);}
.calendar__month-and-btn {
   display: flex;
   justify-content: center;
}
.calendar__bnt {
   width: 50px;
   height: 45px;
   background: none;
   border: none;
   cursor: pointer;
} */