body {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .menu {
   padding: 10px;
   display: flex;
   flex-direction: column;
   border-style: solid;
   justify-content: center;
   align-items: flex-start;
   width: 400px;
   background-color: antiquewhite;
 }
 .inputSection {
   margin: 8px 0;
   width: 100%;
   display: flex;
   flex-direction: row;
 }
 .labelStyle {
   margin-right: 8px;
 }
 .selectStyle {
   width: 100%;
 }
 .outSelectDiv {
   width: 100%;
 }
 .inputStyle {
   width: 98%;
 }
 .button {
   width: 100%;
   margin: 8px 0;
 }
 .buttonDetails {
   width: 80px;
   margin: 8px 0;
 }
 .movieListUpper {
   display: flex;
   flex-wrap: wrap;
   display: flex;
   flex-direction: row;
   margin: 10px 0;
 }
 .cardMovie {
   border-style: groove;
   width: 400px;
   padding: 10px;
   margin: 0 10px;
 }
 .movieView {
   width: 800px;
   padding: 10px;
   margin: 0 10px;
 }
 .innerContentCard {
   display: flex;
   flex-direction: row;
 }
 .imgPoster {
   width: 120px;
   height: auto;
 }
 .imgPosterHD {
   width: 360px;
   height: auto;
 }
 .rightContentCard {
   display: flex;
   flex-direction: column;
   margin-left: 10px;
 }
 .typeTitle {
   margin-bottom: 20px;
 }
 .nameTitle {
   margin-bottom: 20px;
   font-weight: 1000;
 }
 .yearTitle {
   margin-bottom: 20px;
 }
 .spanContent {
   display: flex;
   margin-bottom: 15px;
 }
 .spanHD {
   font-weight: 900;
   width: 100px;
 }
 .paginator {
   display: flex;
   flex-direction: row;
 }
 .paginatorUnit {
   height: 40px;
   width: 40px;
   display: flex;
   align-items: center;
   justify-content: center; 
}