* {
   margin: 0;
   padding: 0;
}
body {
   background-color: rgb(184, 183, 183);
}
.container {
   margin: 50px auto;
   padding: 20px;
   width: 500px;
   min-height: 700px;
   border: 2px solid black;
   border-radius: 50px;
   display: flex;
   flex-direction: column;
   background-color: rgb(153, 153, 204);
}
.container__title {
   text-align: center;
   font-size: 50px;
   border-bottom: 1px solid black;
}
.container__btn{
   margin: 20px 0;
}
.container__input {
   width: 305px;
   height: 35px;
   font-size: 20px;
   border: 2px solid black;
   border-radius: 10px;
   padding-left: 10px;
}
.container__input:focus {
   border: 2px solid black;
}
/* .container__input:focus-visible {
   border: 2px solid black;
} */
.container__add {
   height: 40px;
}
/* btn */
.btn-style {
   width: 80px;
   height: 40px;
   border-radius: 10px;
   border: 2px solid black;
   padding-top: 3px;
   font-size: 15px;
}
.btn-style-hover:hover {
   background-color: black;
   color: white;
   transition: 0.7s;
}
.container__list {
   padding-left: 25px;
}
.container__list li{
   padding-left: 4px;
   font-size: 25px;

}